:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



a {
  font-weight: 500;
  color: #646cff;
}
a:hover{
  border-bottom: #9bbaf3 2px solid;
  color: #9bbaf3;
}
.dark a:hover {
  border-bottom: blue 2px solid;
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background:white;
}
.dark body{
  background:black;
 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  margin: 0;
  background: no-repeat;
  text-align: left;
}
@media (max-width: 768px) {
  #app {
    text-align: center; /* Center-align text for small screens */
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;

#jumbotron {
  background-image: url("./assets/backgrounds/introduction-background.jpg");
  
}

  .dark #jumbotron{
    background-image: url("./assets/backgrounds/introduction-background-dark.jpg")
  }
  
